{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="flex h-screen bg-gray-100">

		<div class="flex flex-col flex-1">

			<div class="container mx-auto px-4 py-8">
				<div class="max-w-md mx-auto bg-white rounded p-6 shadow-md">
					<h2 class="text-2xl font-bold mb-6">Connectez-vous à votre compte</h2>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<div class="mb-4">
							<label for="inputEmail" class="block text-gray-700 text-sm font-bold mb-2">Adresse e-mail</label>
							<input type="email" id="inputEmail" name="email" value="{{ last_username }}" class="w-full border border-gray-300 rounded py-2 px-3 focus:outline-none focus:border-indigo-500 form-control" placeholder="Adresse e-mail" autocomplete="email" required autofocus>
						</div>
						<div class="mb-4">
							<label for="inputPassword" class="block text-gray-700 text-sm font-bold mb-2">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="w-full border border-gray-300 rounded py-2 px-3 focus:outline-none focus:border-indigo-500 form-control" autocomplete="current-password" placeholder="Mot de passe" required>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Se connecter</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
