{% extends 'base.html.twig' %}


{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="flex h-screen bg-gray-100">
		{% include "shared/_sidebar.html.twig" %}
		<!-- Contenu principal -->
		<div
			class="flex flex-col flex-1">
			<!-- En-tête -->
			<header class="bg-white shadow-sm py-4 px-6">
				<div class="flex items-center justify-between">
					<h1 class="text-gray-800 text-2xl font-bold">
						{{app.user.name}}
					</h1>
					<a href="{{ path('app_logout') }}" class="text-gray-600 hover:text-gray-800">Déconnexion</a>
				</div>
			</header>

			<!-- Contenu de la page -->
			<div class="container mx-auto px-4 py-8">
				<h2 class="text-2xl font-bold">Tableau de bord
					{{app.user.groupe}}</h2>
				<div>
					<h2 class="text-2xl font-bold">Tableau de bord</h2>
					Caisse noir :
					{{app.user.groupe.caissenoir}}$
					Argent :
					{{app.user.argent}}$
				</div>
				<div>
					<h2 class="text-2xl font-bold">Liste des transactions</h2>
					{% for transaction in transactions %}
						<li>
							{{ transaction.gang }}
							Montant:
							{{ transaction.montant }}$
							{{ transaction.createdAt|date('Y-m-d') }}
						</li>
					{% endfor %}
				</div>
				<div>
					<h2 class="text-2xl font-bold">Liste des Appartements</h2>
					{% for appart in apparts %}
						<li>
							{{ appart.name }}
						</li>
					{% endfor %}
				</div>
				<div>
					<h2 class="text-2xl font-bold">Liste des objets</h2>
					{% if objets is empty %}
						<p>No objects found in the apartments of this group.</p>
					{% else %}
						<ul>
							{% for objet in objets %}
								<li>
									Nom:
									{{ objet.name }}
									Quantite:
									{{ objet.quantite }}
									{# Display other attributes of the object as needed #}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
