<div
	class="w-64 bg-gray-800">
	<!-- Contenu de la barre latérale -->
	<div class="p-4">
		<h1 class="text-white text-2xl font-bold">Compta RP</h1>
		<ul class="mt-4">
			<li class="py-2">
				<a href="{{ path('app_home') }}" class="text-gray-300 hover:text-white">Accueil</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_appart') }}" class="text-gray-300 hover:text-white">Appartements</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_groupe') }}" class="text-gray-300 hover:text-white">Groupes</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_gang') }}" class="text-gray-300 hover:text-white">Gangs</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_membre_gang') }}" class="text-gray-300 hover:text-white">Membres des gangs</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_pm') }}" class="text-gray-300 hover:text-white">Petite mains</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_objet') }}" class="text-gray-300 hover:text-white">Objets</a>
			</li>
			<li class="py-2">
				<a href="{{ path('app_transaction') }}" class="text-gray-300 hover:text-white">Transactions</a>
			</li>
		</ul>
	</div>
</div>
