{% extends 'base.html.twig' %}


{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="flex h-screen bg-gray-100">
		{% include "shared/_sidebar.html.twig" %}
		{% if user %}
			<!-- Contenu principal -->
			<div
				class="flex flex-col flex-1">
				<!-- En-tête -->
				<header class="bg-white shadow-sm py-4 px-6">
					<div class="flex items-center justify-between">
						<h1 class="text-gray-800 text-2xl font-bold">Gang
							{{user.name}}
							{{user.groupe}}</h1>
						<a href="{{ path('app_logout') }}" class="text-gray-600 hover:text-gray-800">Déconnexion</a>
					</div>
				</header>

				<!-- Contenu de la page -->
				<div class="container mx-auto px-4 py-8">
					<h2 class="text-2xl font-bold">Bienvenue sur votre tableau de bord</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan, tortor et dapibus venenatis, arcu velit placerat dolor, non fermentum nisl massa sed sem.</p>
				</div>
			</div>
		</div>
	{% endif %}
</div>{% endblock %}
